body{
    background-color:rgb(128,0,0,.5) ;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}
h1{
    display: flex;
    justify-content: center;
    
}
h2{
    display: flex;
    justify-content: center;
}
nav{
    
    display: flex;
    justify-content: center;
    background-color: rgb(0,0,128,.5);
    border: 5pt rgb(128,128,0,.5)groove ;
}
nav ul{
    list-style: none;
    display: flex;
    
}

nav ul li{
    padding: 10pt 75pt;
}
a{
    color: olive;
}


