
*{
    padding: 5px;
}
html {
    height: 100%;
    background-color: black;
  }


body{
    padding: 10px;
    background-color:rgba(173, 35, 35,.5) ;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    
    
}

.about1{
    display: flex;
    justify-content: center;
    border: 7px solid;
    
}

.work { 
    display: flex;
    display: flex;
    border: 7px solid;
    flex-direction: column;
    justify-content: stretch;
}
.work ul{
    list-style-type: none;
}
h1{
    display: flex;
    justify-content: center;
    
}
h2{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
}
nav{
    
    display: flex;
    justify-content: center;
    background-color: rgb(0,0,128,.75);
    border: 7pt rgb(128,128,0,.5)groove black;
}
nav ul{
    list-style: none;
    display: flex;
    display: flex;
    justify-content: center;
    
}

nav ul li{
    padding: 10pt 75pt;
    display: flex;
    justify-content: center;
}
a{
    color: #808000;
}

.pictures{
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 450px;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    border: 7px solid black;
  
}

.pics{
    
    justify-content: center;
    padding: 10px;
    width: 30%;
    height: 150%;
}
.info{
    display: flex;
    justify-content: space-evenly;
}