
*{
    padding: 5px;
}
html {
    height: 100%;
    background-color: black;
  }


body{
    padding: 10px;
    background-color:rgba(173, 35, 35,.5) ;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    
    
}

.about1{
    display: flex;
    justify-content: flex-start;
    border: 7px solid;
    
}
.container{
    overflow:hidden;
    width:auto;
    display:inline;
}


.work { 
    display: flex;
    width: fit-content;
    height: fit-content;
    border: 7px solid;
    flex-direction:column;
    
    
}
.work ul{
    list-style-type: none;
    justify-items: center;
    
}
.jobs ul{
    display: flex;
    justify-content: center;
}
.demo{
    width: 30%;
    height: 150%;

}

h1{
    display: flex;
    justify-content: center;
    color: aliceblue;
    
}
h2{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
h3{
    display: flex;
   
    color: aliceblue;
}
nav{
    
    display: flex;
    justify-content: center;
    background-color: rgb(3, 3, 105);
    border: 7pt rgb(128,128,0,.5)groove black;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}

nav ul li{
    padding: 10pt 75pt;
    display: flex;
    justify-content: center;
}
a{
    color: olive;
}

.pictures{
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 450px;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
 
}

.pics{
    
    justify-content: center;
    padding: 10px;
    width: 30%;
    height: 150%;
}
.info{
    display: flex;
    justify-content: space-evenly;
}